{% extends '_base/html.html.twig' %}

{% block page %}
    <article class="user-login user-login--fallback-page" data-view="user-login">
      <div class="login-form-wrapper">
          {% if errors %}
              <div class="error-message">
                  {% for error in errors %}
                      {{ error.message | t }}
                  {% endfor %}
              </div>
          {% endif %}

          {% if resetPasswordSucces == true %}
              <fieldset class="fieldset fieldset--full-width">
                  <h2>{{ 'Password assistance' | t }}</h2>
                  <p>{{ 'You have successfully set a new password' | t }}</p>
                  <p>{{ 'Click <a href="%loginUrl%">here</a> to login.' |trans({ '%loginUrl%': loginUrl }) | raw  }}</p>
              </fieldset>

          {% elseif reset_link_send == true %}
            <fieldset class="fieldset fieldset--full-width">
              <h2>{{ 'Password assistance' | t }}</h2>
              <p>{{ 'We have send you a mail with a reset password link.' | t }}</p>
            </fieldset>

          {% elseif showResetPasswordField == true %}
              <form action="{{ path('account_forgotpassword') }}" method="post">
                  <fieldset class="fieldset fieldset--full-width">
                      <h2>{{ 'Password assistance' | t }}</h2>
                      <p>{{ 'Fill in the new password for your account' | t }}</p>
                      {% if csrf_token('authenticate') %}
                          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                      {% endif %}
                      <input type="hidden" name="resetcode" value="{{ resetcode }}"/>
                      <input type="text" id="forgotpassword_input" name="forgotpassword_input_password" class="fieldset__input"  placeholder="{{ 'New Password' | t }}"/>
                  </fieldset>
                  <fieldset class="fieldset fieldset--full-width">
                      <button type="submit" class="button button--brand login-button">{{ 'Continue' | t }}</button>
                  </fieldset>
              </form>
          {% else %}

              <form action="{{ path('account_forgotpassword') }}" method="post">
                <fieldset class="fieldset fieldset--full-width">
                    <h2>{{ 'Password assistance' | t }}</h2>
                    <p>{{ 'Enter the email address associated with your Tradus account.' | t }}</p>
                    {% if csrf_token('authenticate') %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    {% endif %}
                    <input type="text" id="forgotpassword_input" name="forgotpassword_input_email" class="fieldset__input" value="{{ last_forgotpassword_input }}" placeholder="{{ 'Email' | t }}"/>
                </fieldset>

                <fieldset class="fieldset fieldset--full-width">
                    <button type="submit" class="button button--brand login-button">{{ 'Continue' | t }}</button>
                </fieldset>
                <fieldset class="fieldset fieldset--full-width">
                    <h2>{{ 'Has your e-mail address changed?' | t }}</h2>
                    <p>{{ 'If you no longer use the e-mail associated with your Tradus account, you may contact' | t }} <a href="https://tradus.zendesk.com/hc/en-us/requests/new">{{ 'Customer Services' | t}}</a> {{ 'for help restoring access to your account.' | t }}
                  </fieldset>
              </form>
          {% endif %}

      </div>
    </article>
{% endblock %}